<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Agriversity | Contact</title>
    <!-- Stylesheets -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">

    <link href="../static/images/resource/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="../static/images/resource/favicon.png" rel="icon" type="image/x-icon">

    <!-- Responsive -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

</head>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <header class="main-header header-style-one">
        <!--Header-Upper-->
        <div class="header-upper">
            <div class="auto-container">
                <div class="clearfix">

                    <div class="pull-left logo-box">
                        <div class="logo"><a href="index.html"><img alt="" src="../static/images/logo.png"
                                                                    title="Aplink" width="50px">&nbsp;  <strong class="text-success text-center h4 text-uppercase font-weight-bold">Agriversity</strong></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                        <!-- Main Menu -->
                        <nav class="main-menu show navbar-expand-md">
                            <div class="navbar-header">
                                <button aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation"
                                        class="navbar-toggler" data-target="#navbarSupportedContent"
                                        data-toggle="collapse" type="button">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li><a href="index.html">Home</a>
                                    </li>
                                    <li class="dropdown"><a href="#">About</a>
                                        <ul>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="feature.html">Features</a></li>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>

                        </nav>

                        <div class="outer-box">
                            <!--Search Box-->
                            <div class="searched-popup search-box-outer">
                                <button class="search-box-btn"><span class="flaticon-magnifying-glass-1"></span>
                                </button>
                            </div>
                            <a class="theme-btn btn-style-one" href="coming-soon.html"><span class="txt">try now</span></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--End Header Upper-->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img alt="" src="../static/images/logo.png" title=""></a>
                </div>
                <div class="menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title">
        <div class="pattern-layer" style="background-image: url(../static/images/icons/pattern-12.png)"></div>
        <div class="pattern-layer-two"></div>
        <div class="pattern-layer-three"></div>
        <div class="auto-container">
            <h1>Contact Us</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Contact Page Section -->
    <section class="contact-page-section">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Form Column -->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Title Box -->
                        <div class="title-box">
                            <h3>Get in touch</h3>
                            <div class="text">Always Available <br></div>
                        </div>

                        <!-- Contact Form -->
                        <div class="contact-form">
                            <!-- alert start -->
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="alert alert-success" role="alert">
                                Successfully sent
                            </div>
                            {% endif %}
                            {% endwith %}
                            <!-- alert end -->

                            <!-- Contact Form -->
                            <form action="/contact.html" id="contact-form" method="post">
                                <div class="row clearfix">

                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input name="username" placeholder="Your Name*" required type="text">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input name="email" placeholder="Your Email*" required type="email">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input name="phone" placeholder="Your Phone Number*" required type="text">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input name="company" placeholder="Your Company Name" required type="text">
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea class="" name="message" placeholder="Your Message"></textarea>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <button class="theme-btn btn-style-two" name="submit-form" type="submit">SEND
                                            MESSAGE
                                        </button>
                                    </div>

                                </div>
                            </form>

                        </div>
                        <!--End Comment Form -->

                    </div>
                </div>

                <!-- Info Column -->
                <div class="info-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Title Box -->
                        <div class="title-box">
                            <h3>Contact Information</h3>
                            <div class="text"></div>
                        </div>

                        <ul class="contact-info">
                            <li>
                                <span class="icon flaticon-telephone"></span>
                                <strong>Phone :</strong>
                                N/A
                            </li>

                            <li>
                                <span class="icon flaticon-email"></span>
                                <strong>Email :</strong>
                                <a href="mailto:info@yourwebsite.com">N/A</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Contact Page Section -->
    <!--Main Footer-->
    <footer class="main-footer">
        <!-- Pattern Layer -->
        <div class="pattern-layer"></div>
        <div class="pattern-layer-2" style="background-image:url(../static/images/icons/pattern-7.png)"></div>
        <div class="auto-container">

            <!-- Widgets Section -->
            <div class="widgets-section">
                <div class="row clearfix">

                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo text-center">
                                        <a href="index.html"><img alt="" src="../static/images/logo.png"/></a>
                                    </div>
                                    <div class="text"></div>
                                    <div class="social-box text-center">
                                        <a class="fa fa-facebook" href="#"></a>
                                        <a class="fa fa-instagram" href="#"></a>
                                        <a class="fa fa-twitter" href="#"></a>
                                        <a class="fa fa-google" href="#"></a>
                                        <a class="fa fa-pinterest-p" href="#"></a>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h4>About Us</h4>
                                    <ul class="links-widget">
                                        <li><a href="#">Afficiates</a></li>
                                        <li><a href="#">Partners</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="#">Blogs</a></li>
                                        <li><a href="#">Newsletter</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h4>Resource</h4>
                                    <ul class="links-widget">
                                        <li><a href="#">Resource</a></li>
                                        <li><a href="#">Support Area</a></li>
                                        <li><a href="#">Documentations</a></li>
                                        <li><a href="#">How it works</a></li>
                                        <li><a href="#">Terms of Policy</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h4>Quick Links</h4>
                                    <ul class="links-widget">
                                        <li><a href="#">home</a></li>
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Features</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="copyright">Copyright &copy; 2023 Agriversity</div>
            </div>

        </div>
    </footer>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<!--Search Popup-->
<div class="search-popup" id="search-popup">
    <div class="close-search theme-btn"><span class="flaticon-multiply"></span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form action="" method="post">
                <div class="form-group">
                    <fieldset>
                        <input class="form-control" name="search-input" placeholder="Search Here" required type="search"
                               value="">
                        <input class="theme-btn" type="submit" value="Search Now!">
                    </fieldset>
                </div>
            </form>

            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">App</a></li>
                <li><a href="#">Android</a></li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">Filter</a></li>
                <li><a href="#">Business</a></li>
            </ul>

        </div>

    </div>
</div>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/jquery.scrollTo.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../static/js/jquery.fancybox.js"></script>
<script src="../static/js/appear.js"></script>
<script src="../static/js/validate.js"></script>
<!--Master Slider-->
<script src="../static/js/jquery.easing.min.js"></script>
<script src="../static/js/owl.js"></script>
<script src="../static/js/wow.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>